<%= form_for @message do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= @message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4">
      <label>Full Name</label>
    </div>
    <div class="cell small-12 medium-8">
      <%= form.text_field :full_name %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4">
      <label>Email Address</label>
    </div>
    <div class="cell small-12 medium-8">
      <%= form.text_field :email %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4">
      <label>Contact Number</label>
    </div>
    <div class="cell small-12 medium-8">
      <%= form.text_field :phone %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12">
    <%= form.text_area :content, placeholder: "Leave your message here", rows: 5 %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
    <%= form.submit "Leave your message", class: "button large button-message", style: "background-color: #{ @color.color_1}" %>
    </div>
  </div> 
<% end %>


<script>

  $(".button-message").click(function(){
      $(".message-form").hide();
      $(".thanks").show();
  });


  
</script>