<div class="t2_contact" id="contact">	
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="cell small-12 medium-6">
					<h2>Contact Us</h2>
					<h4><a href="tel:<%= @site.phone %>"><i class="fa fa-phone"></i> <%= @site.phone %><br></a> 
						<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
							<%= link_to edit_site_path(@site, :phone => "true"),class: "button small success" do %><i class="fas fa-pencil-alt"></i> Edit Phone Number<% end %></h4>
						<% end %>
					<!-- Map -->
					<div class="cell small-12" style="margin-top: 40px;">
						<h4>We service all <%= @site.home_town %> locations</h4>
						<p style="font-size: 14px; font-weight: normal;"><%= @site.location_text %></p>
						<div class="map-responsive" style="margin-bottom: 10px">
							<iframe allowfullscreen frameborder="0" height="650" src="https://maps.google.com/maps?q=<%= @site.home_town %>=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0" width="1920"></iframe>
						</div>
						<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
						<%= link_to "EDIT LOCATION DETAILS", edit_site_path(@site, :location => "true"),class: "button success" %>
						<% end %>
						<hr />
						<small style="font-size: 12px; color: #a0a0a0; font-weight: normal;"><strong>ABN:</strong> <%= @site.abn %> <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
							<%= link_to edit_site_path(@site, :abn_number => "true"), class: "button small success" do %><i class="fas fa-pencil-alt"></i><% end %>
						<% end %></small>
						<p><h4 style="font-size: 14px;">LICENCES & ACCREDITATIONS</h4>
							<% @accreditations.each do |accreditation| %>
							<small style="font-size: 12px; color: #a0a0a0; font-weight: normal;"><strong><%= accreditation.name %></strong> <%= accreditation.reference_number %></small><br />
							<% end %>
							
							<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
							<%= link_to "EDIT LICENCES & ACCREDITATIONS", new_accreditation_and_licence_path,class: "button success"  %>
						<% end %>
						</p>
					</div>
				</div>
				<div class="cell small-12 medium-6">
					<h4>Request a quote</h4>
					<%= render 'messages/form', message: @message, color: @color %>
				</div>
			</div>
		</div>
	</div>