<div class="t_2_top_menu" data-smooth-scroll="" >
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 text-center logo" style="padding-top: 20px;">	
				<% if @intro.logo.attached? %>
					<%= image_tag @intro.logo.variant(quality: "70"), width: '380' %>
					<% else %>
					  <div class="temp-logo text-center">
					    <div class="company-letter-logo" style="margin:auto; background-color: <%= @color.color_1 %>">
					      <div class="company-letter-logo-inner"><%= @company_name.split(//).first%></div>
					    </div>
					    <div class="company-name-logo" style="color: <%= @color.color_1 %>"><%= @company_name %></div> 
					  </div>
				<% end %>
			</div>
			<div class="cell medium-8 medium-offset-2 show-for-medium" style="margin-top:-40px;">
				<div class="menu-centered">
				<ul class="menu">
					<li>
						<a href="#services">Services</a>
					</li>
					<li>
						<a href="#about">About Us</a>
					</li>
					<li>
						<a href="#work">Our Work</a>
					</li>
					<li>
						<a href="#contact">Contact Us</a>
					</li>
				</ul>
				</div>
			</div>
		</div>
		
	</div>
	
	<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
	<div class="edit-site-logo" style="background-color: white;">
		<div class="grid-x">
			<div class="cell small-12 medium-6 medium-offset-3">
				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-4 text-center">
						<%= link_to "EDIT SETTINGS", edit_site_path(@site, :company_name => "true"), class: "button success expanded" %>
					</div>
					<div class="cell small-12 medium-4 text-center">
						<%= link_to "EDIT LOGO", edit_intro_path(@intro), class: "button success expanded" %>
					</div>
					<div class="cell small-12 medium-4 text-center">
						<%= link_to "EDIT COLORS", edit_color_path(@color), class: "button success expanded" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>