<%= form_with(model: template_custom, local: true) do |form| %>
  <% if template_custom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template_custom.errors.count, "error") %> prohibited this template_custom from being saved:</h2>

      <ul>
      <% template_custom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if params[:header_1] == "true" %>
  <h2>Let's add a nice big header to your website?</h2>      
  <h3>Choose an image and some catchy text.</h3>
  
  <div class="file-upload-box">
    Let's upload a funcky header image
    <%= form.file_field :header_1_img %>
  </div>

  <div class="field">
    <%= form.text_field :header_1_subtxt, placeholder: "Small text" %>
  </div>

  <div class="field">
    <%= form.text_field :header_1_primarytxt, placeholder: "Large text" %>
  </div>

  <div class="field">
    <%= form.text_field :header_1_btntxt, placeholder: "Button text" %>
  </div>
  <% end %>
  
  <% if params[:quote_bar_1] == "true" %>
  <h2>This is a call to action</h2>      
  <h3>Make this snappy!</h3>

  <div class="field">
    <%= form.text_field :quotebar_1_subtxt, placeholder: "Small text" %>
  </div>

  <div class="field">
    <%= form.text_field :quote_bar_primarytxt, placeholder: "Large text" %>
  </div>

  <div class="field">
    <%= form.text_field :quote_bar_btntxt, placeholder: "Button text" %>
  </div>
  <% end %>

  <% if params[:six_col_righttxt] == "true"%>
  <h2>Ready to add a bit of content?</h2>      
  <h3>This is a standard block of text we'll add some images to the left hand side too.</h3>

  <div class="file-upload-box">
    Ok let's upload an image to replace the first one
    <%= form.file_field :content_6col_leftimg1 %>
  </div>

  <div class="file-upload-box">
    Ok let's upload an image to replace the second one
    <%= form.file_field :content_6col_leftimg2 %>
  </div>

  <div class="field">
    <%= form.text_area :content_6col_righttxt, :class => "tinymce", :rows => 8 %>
  </div>

  <div class="field">
    <%= form.text_field :content_6col_rightsubtxt, placeholder: "Small text" %>
  </div>

  <div class="field">
    <%= form.text_field :content_6col_rightprimarytxt, placeholder: "Large text" %>
  </div>
  <% end %>
  
  <% if params[:six_col_lefttxt] == "true"%>
  <h2>Here's another block of text</h2>      
  <h3>We've added the images to the right hand side</h3>
  
  <div class="file-upload-box">
    Ok let's upload an image to replace the first one
    <%= form.file_field :content_6col_rightimg1 %>
  </div>

  <div class="file-upload-box">
    Ok let's upload an image to replace the bottom one
    <%= form.file_field :content_6col_rightimg2 %>
  </div>

  <div class="field">
    <%= form.text_area :content_6col_lefttxt, :class => "tinymce", :rows => 8 %>
  </div>

  <div class="field">
    <%= form.text_field :content_6col_leftsubtxt, placeholder: "Small text" %>
  </div>

  <div class="field">
    <%= form.text_field :content_6col_leftprimarytxt, placeholder: "Large text" %>
  </div>
  <% end %>
  
  <% if params[:quotebox_1] == "true"%>
  <h2>This is your second quote box</h2>      
  <h3>It's important to make this short and sweet</h3>
  <div class="field">
    <%= form.text_field :quotebox_1_subtxt, placeholder: "Small text" %>
  </div>
  
  
  <div class="field">
    <%= form.text_field :quotebox_1_primarytxt, placeholder: "Large text" %>
  </div>

  <div class="field">
    <%= form.text_field :quotebox_1_btntxt, placeholder: "Button text" %>
  </div>
  <% end %>

  <% if params[:services_title] == "true"%>
  <h2>Let's change the background image where your services are displayed</h2>      
  <div class="file-upload-box">
    Ok let's upload an image to replace the top one
    <%= form.file_field :services_1_hero %>
  </div>

  <% end %>
  
  <% if params[:about_1] == "true"%>
  <h2>Don't be modest!</h2>      
  <h3>Right something nice about yourself</h3>

  <div class="file-upload-box">
    But first, let's add a couple of images for asthetics
    <%= form.file_field :about_1_img1 %>
  </div>

  <div class="file-upload-box">
    Another one please
    <%= form.file_field :about_1_img2 %>
  </div>

  <div class="file-upload-box">
    And... one more!
    <%= form.file_field :about_1_img3 %>
  </div>

  <div class="field">
    <%= form.text_field :about_1_subtxt, placeholder: "Small text" %>
  </div>

  <div class="field">
    <%= form.text_field :about_1_primarytxt, placeholder: "Large text" %>
  </div>

  <div class="field">
    <%= form.text_area :about_1_txt, :class => "tinymce", :rows => 8 %>
  </div>
  <% end %>
  
  <% if current_user.admin? && params[:about_1] == "true"%>
  <div class="field">
    <%= form.text_area :custom_css, :rows => 20 %>
  </div>
  <% end %>
  
  <div class="actions" style="margin-top: 20px;">
    <%= form.submit "SAVE", class: "button large success" %>
  </div>
<% end %>


<%= tinymce %>