<% if !@site.featured_image.attached? %>
<div class="light-gray-bg" style="background-image: url('https://res.cloudinary.com/thypowerhouse/image/upload/v1534820859/11727-wood-hd-wallpaper.jpg');">

<% else %>
<div class="light-gray-bg" style="background-image: url('<%= url_for(@site.featured_image) %>');">
<% end %>

<div class="off-canvas-content" data-off-canvas-content>
	
		<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
		<div class="grid-container" style="padding:0;">
		<div style="background-color: #19935c;" class="text-center medium-text-left">
			<%=link_to edit_user_registration_path do %>
				<span class="button success large" style="margin-top:10px; margin-left: 10px;">
					<i class="fas fa-pencil-alt  " ></i> <strong>Edit Account Settings</strong>
				</span>
			<% end %>
		</div>
		</div>
		<% end %>

		<!-- Header Image-->
		<% if @site.featured_image.attached? %>
			<div style="background-image: url('<%= url_for(@site.featured_image) %>')">
		<% else %>
			<div style="background-color: #000">
		<% end %>
			<div class="grid-x header-image" style="background-color: rgba(17,23,30,0.9);">
				
			</div>

		</div>

		
		
		

		<div class="canvas-overlap">
			
				
		<div class="grid-container show-for-medium">
		<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] != "true" %>
			<div class="off-canvas-content-spacer"></div>
		<% end %>

			<div class="quick-call text-center float-right" style="background-color: <%= @color.color_1 %>">
				<i class="fa fa-phone"></i> <a href="tel: <%= @site.phone %>" style="
					color: #fff;"><strong>CALL NOW <%= @site.phone %></strong></a>
			</div>
		</div>

			<div class="grid-container canvas-content">

				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-4 text-center medium-text-left">
						<% if @intro.logo.attached? %>
						<%= image_tag @intro.logo, height: '300', width: '300', alt: "#{@site.company_name} logo" %>
						<% else %>
						<div class="temp-logo-bg">
						  <div class="temp-logo text-center">
						    <div class="company-letter-logo" style="margin:auto; background-color: <%= @color.color_1 %>">
						      <div class="company-letter-logo-inner"><%= @company_name.split(//).first%></div>
						    </div>
						    <div class="company-name-logo" style="color: <%= @color.color_1 %>"><%= @company_name %></div> 
						  </div>
						</div>
						<% end %>

						 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
							<%=link_to edit_intro_path(@intro) do %>
								<span class="button success expanded" style=" font-size: 16px;">
									<i class="fas fa-pencil-alt"></i> <strong>Change Intro &amp; Logo</strong>
								</span>
							<% end %>
						<% end %>

					</div>
					<div class="cell small-12 medium-8"  >
						<div class="bubble" style="background-color: <%= @color.color_1 %>; border-color: #ccc; color: #fff; width: 100px; text-align: center;">Hello!
						
						</div>
						<div class="bubble-after" style="border-top: 10px solid <%= @color.color_1 %>; "></div>
						<h1><span>I'm</span> <%= @profile.full_name %>,</h1>
						<h2><%= @profile.role %></h2>
						<p><%= @intro.content %></p>
						<button type="button" class="button primary" data-toggle="offCanvas" style="background-color:#1C1313">Read more about me</button>
					</div>
				</div>
			</div>

			<!-- CTA Panel -->
			<div class="grid-container" style="padding: 0;">
				<div class="cta-panel" style="background-color:<%= @color.color_1 %>">
					<div class="grid-x">
						
						<div class="cell small-6 text-center" data-open="MessageMe" style="border-right: 2px solid white; border-left: 2px solid white; cursor: pointer;">
							<i class="fa fa-envelope"></i> <strong>EMAIL US</strong>
							 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
								<%=link_to edit_user_registration_path do %>
									<span class="button success" style="padding:0 10px; margin-top:10px; font-size: 14px;">
										<i class="fas fa-pencil-alt  " ></i> <strong>Edit</strong>
									</span>
								<% end %>
							<% end %>
						</div>
						<div class="cell small-6 text-center" style="border-left: 2px solid white;">
							<i class="fa fa-phone"></i> <a href="tel: <%= @site.phone %>" style="
								color: #fff;"><strong><%= @site.phone %></strong></a>
							 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
								<%= link_to edit_site_path(@site) do %>
									<span class="button success" style="padding:0 10px; margin-top:10px; font-size: 14px;">
										<i class="fas fa-pencil-alt  " ></i> <strong>Edit</strong>
									</span>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>


			<!-- Site Services Panel -->
			<div class="grid-container">
				<div class="site-services-container">
					<div class="grid-x">
						<div class="cell small-12">
							<div class="text-center">
								<h2>Our Trades &amp; Services
								 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
									<%= link_to additional_services_path do %>
										<span class="button success" style=" font-size: 16px;">
											<i class="fas fa-pencil-alt  " ></i> <strong>Manage Services</strong>
										</span>
									<% end %>
								<% end %>
							</h2>
								<div class="site-services-inner">
									<div class="grid-x">
										<% @additional_services.each do |service| %>
										<div class="cell small-12 medium-4">
											<i class="fa fa-check" style="color: #19935c"></i> <%= service.title %>	
										</div>
										<% end %>
										<% if user_signed_in? && current_user.id == @site.user_id && @additional_services.count == 0 %>
											<h3>You're services will be listed here.. </h3>
											<%= link_to additional_services_path do %>
												<span class="button success" style=" font-size: 16px;">
													<strong>Let's Add Some</strong>
												</span>
											<% end %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Site Services Panel -->
			<div class="grid-container">
				<div class="text-center">
					<h2>Servicing <span style="color: <%= @color.color_1 %>"><%= @site.home_town %></span> Areas
					 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
						<%=link_to service_locations_path do %>
							<span class="button success" style=" font-size: 16px;">
								<i class="fas fa-pencil-alt  " ></i> <strong>Change Homecity</strong>
							</span>
						<% end %>
					<% end %>
					</h2>
				</div>
				<div class="site-locations-container">
					<div class="grid-x grid-margin-x">
						<!-- Map -->
						<div class="cell small-12">
							<div class="map-responsive">
							    <iframe src="https://maps.google.com/maps?q=<%= @site.home_town%>=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Portfolio Panel -->
			<% if @portfolios.blank? && !user_signed_in? || @portfolios.blank? && params[:edit_mode] == "true" %>
			<% else %>
			<div class="grid-container" style="margin-top:70px;">
				<div class="text-center">
					<h2>Our Showcase
					 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
						<%=link_to new_portfolio_path do %>
							<span class="button success" style=" font-size: 16px;">
								<i class="fas fa-pencil-alt  " ></i> Manage Portfolio
							</span>
						<% end %>
					<% end %>
				</h2>
				</div>
				<div class="site-portfolio-container">
					<div class="grid-x">
						
						<% if @portfolios.present? %>
							<% @portfolios.each do |portfolio| %>
								
									<div class="cell small-6 medium-3" style="padding: 1px;">
										<%= image_tag portfolio.image, height: '400', width: '400' %>
									</div>
							<% end %>
						<% else %>
						<div class="cell small-6 medium-3" style="padding: 1px;">
							<img src="https://carepharmaceuticals.com.au/wp-content/uploads/sites/19/2018/02/placeholder-600x400.png" width="400" height="400">
						</div>
						<div class="cell small-6 medium-3" style="padding: 1px;">
							<img src="https://carepharmaceuticals.com.au/wp-content/uploads/sites/19/2018/02/placeholder-600x400.png" width="400" height="400">
						</div>
						<div class="cell small-6 medium-3" style="padding: 1px;">
							<img src="https://carepharmaceuticals.com.au/wp-content/uploads/sites/19/2018/02/placeholder-600x400.png" width="400" height="400">
						</div>
						<div class="cell small-6 medium-3" style="padding: 1px;">
							<img src="https://carepharmaceuticals.com.au/wp-content/uploads/sites/19/2018/02/placeholder-600x400.png" width="400" height="400">
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>

			<!-- Reviews Panel -->

			<% if user_signed_in? && @reviews.blank? && current_user.id == @site.user_id %>
			<div class="grid-container" style="margin-top:70px;">
				<div class="text-center">
					<h2>You have 0 Reviews - add some!</h2>
					<%= link_to "ADD REVIEWS", new_review_path, class: "button large", style: "background-color: #{@color.color_1}" %>
				</div>
			</div>
			<% elsif @reviews.present? %>
			<div class="grid-container" style="margin-top:70px;">
				<div class="text-center">
					<h2>Reviews
					 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
						<%=link_to reviews_path do %>
							<span class="button success" style=" font-size: 16px;">
								<i class="fas fa-pencil-alt  " ></i> Manage Reviews
							</span>
						<% end %>
					<% end %>
					</h2> 
				</div>
				<div class="site-reviews-inner">
						
							<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
							  <div class="orbit-wrapper">
							    <div class="orbit-controls">
							      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
							      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
							    </div>
							    <ul class="orbit-container">
							      <% @reviews.each do |review| %>
							      <li class="orbit-slide review-content">
							        <figure class="orbit-figure">
							          <p><%= review.content %></p>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i> <%= review.name %></i>
							        </figure>
							      </li>
							      <% end %>
							    
							    </ul>
							  </div>
							  
							</div>
				</div>
			</div>
			<% end %>

			<!-- Footer -->
			<div class="grid-container" style="margin-top:70px; margin-bottom: 150px;">
				<hr>
				<div class="site-footer-container">
					<div class="grid-x">
						<div class="cell small-12 medium-4" >
							<h4 style="font-size: 18px;">Accreditations and licences</h4>
							<% @accreditations.each do |credit| %>
								<p><strong><%= credit.name %></strong>
								<%= credit.reference_number %></p><br />
							<% end %>

							 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
								<%=link_to new_accreditation_and_licence_path do %>
									<span class="button success" style=" font-size: 14px;">
										<i class="fas fa-pencil-alt"></i> <strong>Edit Accreditations</strong>
									</span>
								<% end %>
							<% end %>

						</div>
						<div class="cell small-12 medium-4"></div>
						<div class="cell small-12 medium-4 text-right">
							All rights reserved<br />Copyright CodeCabin Pty Ltd <%= Time.now.strftime("%Y") %><br />
							<strong>ABN:</strong> <%= @site.abn %>
							<%= @site.company_name %><br />
							<strong>Located:</strong> <%= @site.home_town %><br /><br />
							Website developed by <a href="http://www.codecabin.com.au" target="_blank">CodeCabin Pty Ltd</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		
		
</div>	


<!-- Email -->
<div class="reveal" id="MessageMe" data-reveal style="padding:40px;">
  
	
	<div class="message-form">
		<h2>Leave me a message.</h2>
		<p class="lead">I'll get back to you as soon as I can?</p>
		<%= render 'messages/form', message: @message, color: @color %>
	</div>

	<div class="thanks text-center">
		<i class="fa fa-check-circle"></i>
		<p>Thanks! your message has been submitted. We'll respond shortly, sit tight.</p>
	</div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<!-- Off Canvas About Me -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="push" style="background-color: #101111">
	<% if @profile.avatar.attached? %>
	<div class="about-avatar">
		<%= image_tag @profile.avatar, height: '300', width: '300' %>
	</div>
	<% end %>
	<div class="my-details">
		<h2><%= @profile.full_name %></h2>
		<% if @profile.bio.present? %>
			<p><%= @profile.bio %></p>
		<% else %>
			<p>Hi and welcome to my site. Let me start by introducing myself. My name is <%= @profile.full_name %>, I've been in the industry for a few years now and over the years I've earned some very valuable experience. </p>
			<p>My work ethic is on point, puncuality second to none. I'll literally bend over backwards for my clients and my attention to detail is unlike you've ever seen.</p>
		<% end %>

		 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
			<%=link_to edit_personal_profile_path(@profile) do %>
				<span class="button success expanded" style=" font-size: 16px; margin-top: 20px;">
					<i class="fas fa-pencil-alt"></i> <strong>Manage About Me</strong>
				</span>
			<% end %>
		<% end %>

	</div>
	
	<button class="close-button" aria-label="Close menu" type="button" data-close>
		<span aria-hidden="true" style="color: #fff;">&times;</span>
	</button>
</div>


</div>