	<!-- Style Tags -->
	<style>
	.t_2_header{
	   min-height: 500px;
	}

	.t_2_header h1{
	   font-size: 50px;
	   color: white;
	   letter-spacing: -1px;
	   line-height: 50px;
	}

	.t_2_header h1 span{
	   font-size: 20px;
	   color: <%= lighten_color("#{@color.color_1}", 0.7) %>;
	   letter-spacing: -1px;
	   line-height: 20px;
	}

	.t2_dark_overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	padding: 140px 0;
	}


	
	.t_2_quote{
	   padding:50px 0;
	   background-color: <%= @color.color_1 %>;
	   margin-bottom:20px;
	}

	.t_2_quote h2{
	   padding: 10px 0;
	   color: #fff;
	   font-size: 24px;
	   line-height: 24px;
	}
	.t_2_quote span{
	   color: <%= lighten_color("#{@color.color_1}", 0.7) %>;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t_2_intro{
	   margin:20px 0;
	}

	.t_2_intro img{
	   padding-bottom: 40px;
	   width: 100%;
	   height: 350px;
	   object-fit: cover;
	}

	.t_2_intro h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	.t_2_intro h2 span{
	   color: <%= @color.color_1 %>;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}


	.t2_line{
	   background-color: <%= @color.color_1 %>;
	   height: 5px;
	   width: 60%;
	   margin: 20px 0;
	}

	.t_2_intro p{
	   font-size: 20px;
	   text-align: justify;
	   text-justify: inter-word;
	}

	.t_2_services{
	   background-color: #1e1e1e;
	   margin-top: 100px;
	}

	.t2_services_dark_overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	}

	.t_2_services .t_2_quote_square{
	   background-color: <%= @color.color_1 %>;
	   color: #fff;
	   text-align: center;
	   margin-top: -50px;
	   padding: 40px;
	}

	.t_2_services .t_2_quote_square h2{
	   padding: 10px 0;
	   color: #fff;
	   font-size: 24px;
	   line-height: 24px;
	}
	.t_2_services .t_2_quote_square span{
	   color: <%= lighten_color("#{@color.color_1}", 0.7) %>;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t_2_services .t_2_services_box{
	   background-color: <%= darken_color("#{@color.color_1}", 0.5) %>;
	   color: #fff;
	   padding: 40px;
	}

	.t_2_services .t_2_services_box h2{
	   padding: 10px 0;
	   color: #fff;
	   font-size: 24px;
	   line-height: 24px;
	}

	.t_2_services .t_2_services_box ul {
	 list-style: none;
	 padding: 0;
	}
	.t_2_services .t_2_services_box li {
	 padding-left: 1.3em;
	}
	.t_2_services .t_2_services_box li:before {
	 content: "\f00c";
	 font-family: FontAwesome;
	 display: inline-block;
	 margin-left: -1.3em;
	 width: 1.3em;
	 color: white;
	}

	.t_2_services_fake_box{
	   background-color: <%= darken_color("#{@color.color_1}", 0.5) %>;
	   height: 50px;
	   margin-bottom: 20px; 
	}

	.t2_about_us{
	   margin-bottom: 20px;
	}

	.t2_about_us img{
	   padding-bottom: 40px;
	   width: 100%;
	   height: 300px;
	   object-fit: cover;
	}

	.t2_about_us h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	.t2_about_us h2 span{
	   color: <%= @color.color_1 %>;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t2_about_us p{
	   font-size: 20px;
	   text-align: justify;
	   text-justify: inter-word;
	}

	.t2_portfolio{
	   margin-bottom: 20px
	}

	.t2_contact{
	   margin-bottom: 150px;
	   background-color: #e5e5e5;
	   padding:40px;
	}

	.t2_contact h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	

	.t2_contact h2 span{
	   color: <%= @color.color_1 %>;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t_2_white_bg{
	   background-color: white;
	}

	.t_2_white_bg .button:hover{
	   color: white;
	}

	.t_2_cta_bar{
	   background-color: <%= @color.color_1 %>;
	   color: white;
	   font-size: 14px;
	   font-weight: bold;
	   padding: 10px;
	}

	.t_2_top_menu{
	   background-color: white;
	}

	.t_2_top_menu .menu{
	   margin-top: 45px;
	   font-weight: bold;
	   
	}

	.t_2_top_menu .menu a{
	   color: <%= @color.color_1 %> !important;
	}

	.t2_reviews h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}
	
	.pedit{
		transition: all ease 0.3s;
	}
	.pedit:hover{
		border:8px dashed #19935C;
		position: relative;
		cursor: pointer;
		padding: 40px;

	}

	.pedit-nop{
		transition: all ease 0.3s;
	}
	.pedit-nop:hover{
		border:8px dashed #19935C;
		position: relative;
		cursor: pointer;
		padding: 0;

	}

	</style>

	<style>
		<% if @custom.custom_css.present? %>
		<%= @custom.custom_css.html_safe %>
		<% end %>
	</style>

	<!-- Title Tags -->
	<% content_for :title, "#{@site.user.subdomain} - #{@site.home_town}" %>
	
	<!-- Start Body -->
	<!-- Topbar -->
	<%= render '/sections/topbar_1' %>
	<!-- Primary Menu -->
	<%= render 'sections/topmenu_1' %>
	<!-- Background Container -->
	<div class="t_2_white_bg">
		<!-- Header Image -->
		<%= render 'sections/header_image_1' %>
		<!-- Quote Bar -->
		<%= render 'sections/quotebar_1' %>
		<!-- Intro Text Right 1 -->
		<%= render 'sections/intro_txtright_1' %>
		<!-- Intro Text Left 1 -->
		<%= render 'sections/intro_txtleft_1' %>
		<!-- Services 1 -->
		<%= render 'sections/services_1' %>
		<!-- Portfolio -->
		<%= render 'sections/portfolio_1' %>
		<!-- About Us -->
		<%= render 'sections/about_1' %>
		<!-- Reviews -->
		<%= render 'sections/reviews_1' %>
	</div>

	<!-- Contact -->
	<%= render 'sections/contact_1' %>
	

	
