
	<style>
	.t_2_header{
	   height: 500px;
	}

	.t_2_header h1{
	   font-size: 50px;
	   color: white;
	   letter-spacing: -1px;
	   line-height: 50px;
	}

	.t_2_header h1 span{
	   font-size: 20px;
	   color: #3FA9F5;
	   letter-spacing: -1px;
	   line-height: 20px;
	}

	.t2_dark_overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	padding-top: 140px;
	}



	.t_2_quote{
	   padding:50px 0;
	   background-color: #002859;
	   margin-bottom:20px;
	}

	.t_2_quote h2{
	   padding: 10px 0;
	   color: #fff;
	   font-size: 24px;
	   line-height: 24px;
	}
	.t_2_quote span{
	   color: #3FA9F5;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t_2_intro{
	   margin:20px 0;
	}

	.t_2_intro img{
	   padding-bottom: 40px;
	   width: 100%;
	   height: 350px;
	   object-fit: cover;
	}

	.t_2_intro h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	.t_2_intro h2 span{
	   color: #3FA9F5;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}


	.t2_line{
	   background-color: #3FA9F5;
	   height: 5px;
	   width: 60%;
	   margin: 20px 0;
	}

	.t_2_intro p{
	   font-size: 20px;
	}

	.t_2_services{
	   background-color: #1e1e1e;
	   margin-top: 100px;
	}

	.t2_services_dark_overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	}

	.t_2_services .t_2_quote_square{
	   background-color: #002859;
	   color: #fff;
	   text-align: center;
	   margin-top: -50px;
	   padding: 40px;
	}

	.t_2_services .t_2_quote_square h2{
	   padding: 10px 0;
	   color: #fff;
	   font-size: 24px;
	   line-height: 24px;
	}
	.t_2_services .t_2_quote_square span{
	   color: #3FA9F5;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t_2_services .t_2_services_box{
	   background-color: #3FA9F5;
	   color: #fff;
	   padding: 40px;
	}

	.t_2_services .t_2_services_box h2{
	   padding: 10px 0;
	   color: #fff;
	   font-size: 24px;
	   line-height: 24px;
	}

	.t_2_services .t_2_services_box ul {
	 list-style: none;
	 padding: 0;
	}
	.t_2_services .t_2_services_box li {
	 padding-left: 1.3em;
	}
	.t_2_services .t_2_services_box li:before {
	 content: "\f00c";
	 font-family: FontAwesome;
	 display: inline-block;
	 margin-left: -1.3em;
	 width: 1.3em;
	 color: white;
	}

	.t_2_services_fake_box{
	   background-color: #3FA9F5;
	   height: 50px;
	   margin-bottom: 20px; 
	}

	.t2_about_us{
	   margin-bottom: 20px;
	}

	.t2_about_us img{
	   padding-bottom: 40px;
	   width: 100%;
	   height: 300px;
	   object-fit: cover;
	}

	.t2_about_us h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	.t2_about_us h2 span{
	   color: #3FA9F5;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t2_about_us p{
	   font-size: 20px;
	}

	.t2_portfolio{
	   margin-bottom: 20px
	}

	.t2_contact{
	   margin-bottom: 150px;
	   background-color: #e5e5e5;
	   padding:40px;
	}

	.t2_contact h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	

	.t2_contact h2 span{
	   color: #3FA9F5;
	   font-size: 18px;
	   font-weight: bold;
	   line-height: 18px;
	}

	.t_2_white_bg{
	   background-color: white;
	}

	.t_2_white_bg .button:hover{
	   color: white;
	}

	.t_2_cta_bar{
	   background-color: #002859;
	   color: white;
	   font-size: 14px;
	   font-weight: bold;
	   padding: 10px;
	}

	.t_2_top_menu{
	   background-color: white;
	}

	.t_2_top_menu .menu{
	   margin-top: 45px;
	   font-weight: bold;
	   
	}

	.t_2_top_menu .menu a{
	   color: #002859 !important;
	}

	.t2_reviews h2{
	   padding: 10px 0;
	   color: #1e1e1e;
	   font-size: 40px;
	   line-height: 40px;
	}

	</style>
	<div class="t_2_cta_bar">
		<div class="grid-x">
			<div class="cell small-12 text-right">
				<a href="tel:<%= @site.phone %>" style="color: white;"><i class="fa fa-phone"></i> <%= @site.phone %></a><a href="mail_to: <%= @site.user.email %>" style="color: white;"> <i class="fa fa-envelope"></i> info@fakewebsite.com.au</a>
			</div>
		</div>
	</div>
	<div class="t_2_top_menu" data-smooth-scroll="">
		<div class="grid-x grid-margin-x">
			<div class="cell auto show-for-medium float-right">
				<ul class="menu float-right">
					<li>
						<a href="#services">Services</a>
					</li>
					<li>
						<a href="#about">About Us</a>
					</li>
				</ul>
			</div>

			<div class="cell shrink text-center logo">
				
				<% if @intro.logo.attached? %>
					<%= image_tag @intro.logo, width: '180', alt: "#{@site.company_name} logo" %>
					<% else %>
					  <div class="temp-logo text-center">
					    <div class="company-letter-logo" style="margin:auto; background-color: <%= @color.color_1 %>">
					      <div class="company-letter-logo-inner"><%= @company_name.split(//).first%></div>
					    </div>
					    <div class="company-name-logo" style="color: <%= @color.color_1 %>"><%= @company_name %></div> 
					  </div>
				<% end %>

				

			</div>

			<div class="cell auto show-for-medium text-left">
				<ul class="menu" data-dropdown-menu="">
					<li>
						<a href="#work">Our Work</a>
					</li>
					<li>
						<a href="#contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="t_2_white_bg">
		<div class="t_2_header" style="background-image: url('https://res.cloudinary.com/thypowerhouse/image/upload/v1537385181/templates/davinci/carousel_about_2.jpg'); background-size: cover;">
			<div class="t2_dark_overlay">
				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-6 medium-offset-6">
						<h1><span><%= @custom.header_1_subtxt %></span></h1>
						<h1><%= @custom.header_1_primarytxt %></h1><button class="button large primary" style="border: 2px solid white; background-color: rgba(0,0,0,0);"><%= @custom.header_1_btntxt %></button>

						<%= link_to "EDIT HEADER", edit_template_custom_path(@custom, header_1: "true"), class: "button large success" %>
					</div>
				</div>
			</div>
		</div>
		<div class="t_2_quote">
			<div class="grid-x">
				<div class="cell small-12 medium-6 medium-offset-3 text-center">
					<span><%= @custom.quotebar_1_subtxt %></span><br>
					<h2><%= @custom.quote_bar_primarytxt %></h2><button class="primary button large" style="border: 2px solid white; background-color: rgba(0,0,0,0);"><%= @custom.quote_bar_btntxt %></button>
					<%= link_to "EDIT QUOTE BAR", edit_template_custom_path(@custom, quote_bar_1: "true"), class: "button large success" %>
				</div>
			</div>
		</div>
		<div class="t_2_intro">
			<div class="grid-container">
				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-6">
						<div class="grid-x grid-margin-x">
							<div class="cell small-6 medium-12">
								<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537386293/templates/davinci/carousel_about_6_new.jpg">
							</div>
							<div class="cell small-6 medium-12">
								<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537386279/templates/davinci/carousel_about_3_new.jpg">
							</div>
						</div>
					</div>
					<div class="cell small-12 medium-6">
						<h2><span><%= @custom.content_6col_rightsubtxt %></span></h2>
						<h2><%= @custom.content_6col_rightprimarytxt %></h2>
						<div class="t2_line"></div>
						<p><%= @custom.content_6col_righttxt.html_safe %></p>

						<%= link_to "EDIT THIS SECTION", edit_template_custom_path(@custom, six_col_righttxt: "true"), class: "button large success" %>
					</div>
				</div>
			</div>
		</div>
		<div class="t_2_intro">
			<div class="grid-container">
				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-6">
						<h2><span><%= @custom.content_6col_leftsubtxt %></span></h2>
						<h2><%= @custom.content_6col_leftprimarytxt %></h2>
						<div class="t2_line"></div>
						<%= @custom.content_6col_lefttxt.html_safe %>
						<%= link_to "EDIT THIS SECTION", edit_template_custom_path(@custom, six_col_lefttxt: "true"), class: "button large success" %>
					</div>
					<div class="cell small-12 medium-6">
						<div class="grid-x grid-margin-x">
							<div class="cell small-6 medium-12"><img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537387083/templates/davinci/carousel_about_4.jpg"></div>
							<div class="cell small-6 medium-12"><img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537387092/templates/davinci/carousel_about_5.jpg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="t_2_services" id="services" style="background-image: url('https://res.cloudinary.com/thypowerhouse/image/upload/v1537385181/templates/davinci/carousel_about_2.jpg'); background-size: cover;">
			<div class="t2_services_dark_overlay">
				<div class="grid-container">
					<div class="grid-x">
						<div class="cell small-12 medium-6">
							<div class="t_2_quote_square">
								<h2><span><%= @custom.quotebox_1_subtxt %></span></h2>
								<h2><%= @custom.quotebox_1_primarytxt %></h2>
								<button class="primary button large" style="border: 2px solid white; background-color: rgba(0,0,0,0);"><%= @custom.quotebox_1_btntxt %></button>
								<%= link_to "EDIT QUOTE BOX", edit_template_custom_path(@custom, quotebox_1: "true"), class: "button large success" %>
							</div>
						</div>
						<div class="cell small-12 medium-6">
							<div class="t_2_services_box">
								<h2><%= @custom.services_1_primarytxt %></h2>
								<%= link_to "EDIT TITLE", edit_template_custom_path(@custom, services_title: "true"), class: "button large success" %>
								<ul>
								<% @additional_services.each do |service| %>
									<li><%= service.title %></li>
									<%= link_to "EDIT SERVICES", new_additional_service_path, class: "button large success" %>	
								<% end %>
								</ul>
								<% if user_signed_in? && current_user.id == @site.user_id && @additional_services.count == 0 %>
									<h3>You're services will be listed here.. </h3>
									<p>&nbsp;</p>
									<%= link_to additional_services_path, class: "button large success" do %>
											Let's Add Some
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell small-12 medium-offset-6 medium-6 t_2_services_fake_box"></div>
			</div>
		</div>
		<div class="t2_portfolio" id="work">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell small-12">
						<%= link_to "EDIT OUR WORK", new_portfolio_path, class: "button large success" %>

						<div aria-label="Favorite Space Pictures" class="orbit" data-orbit="" role="region">
							<div class="orbit-wrapper">
								<div class="orbit-controls">
									<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button> <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
								</div>
								<ul class="orbit-container">
									<% if @portfolios.present? %>
										<% @portfolios.each do |portfolio| %>
												<li class="orbit-slide">
													<figure class="orbit-figure">
														<%= image_tag portfolio.image %>
													</figure>
												</li>
										<% end %>
									<% else %>
									<li class="is-active orbit-slide">
										<figure class="orbit-figure">
											<img alt="Space" class="orbit-image" src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537389008/templates/davinci/2_JCF7636-3-1005x675.jpg">
											<figcaption class="orbit-caption">
												One of our finest works.
											</figcaption>
										</figure>
									</li>
									<li class="orbit-slide">
										<figure class="orbit-figure">
											<img alt="Space" class="orbit-image" src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537389151/templates/davinci/3_TDOxGeorgeClarkeHR-56-1013x675.jpg">
											<figcaption class="orbit-caption">
												Let metake a selfie
											</figcaption>
										</figure>
									</li>
									<li class="orbit-slide">
										<figure class="orbit-figure">
											<img alt="Space" class="orbit-image" src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537389175/templates/davinci/5_JCF8124-3-1011x675.jpg">
											<figcaption class="orbit-caption">
												Encapsulating
											</figcaption>
										</figure>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="t2_about_us" id="about">
			<div class="grid-container">
				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-3 show-for-medium"><img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537388531/templates/davinci/1_JCF9098-1011x675.jpg"> <img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537388518/templates/davinci/1_JCF5419-1012x675.jpg"> <img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537388555/templates/davinci/1_JCF8252-1162x675.jpg"></div>
					<div class="cell small-12 medium-9 small-text-center">
						<h2><span><%= @custom.about_1_subtxt %></span></h2>
						<h2><%= @custom.about_1_primarytxt %></h2>
						<p><%= @custom.about_1_txt.html_safe %></p>
						<%= link_to "EDIT ABOUT US", edit_template_custom_path(@custom, about_1: "true"), class: "button large success" %>
					</div>
				</div>
			</div>
		</div>

		<div class="t2_reviews" style="margin-bottom: 20px">
			<!-- Reviews Panel -->
			
			<div class="grid-container">
				<% if @reviews.blank? && !user_signed_in? || @reviews.blank? && params[:edit_mode] != "true" %>
				<% else %>

					<% if user_signed_in? && @reviews.blank? && current_user.id == @site.user_id %>
					<div class="grid-container" style="margin-top:70px;">
						<div class="text-center">
							<h2>You have 0 Reviews - add some!</h2>
							<%= link_to "ADD REVIEWS", new_review_path, class: "button large", style: "background-color: #{@color.color_1}" %>
						</div>
					</div>
					<% elsif @reviews.present? %>
					<div class="grid-container" style="margin-top:70px;">
						<div class="text-center">
							<h2>Reviews
							 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
								<%=link_to reviews_path do %>
									<span class="button success" style=" font-size: 16px;">
										<i class="fas fa-pencil-alt  " ></i> Manage Reviews
									</span>
								<% end %>
							<% end %>
							</h2> 
						</div>
						<div class="site-reviews-inner">
								
									<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
									  <div class="orbit-wrapper">
									    <div class="orbit-controls">
									      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
									      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
									    </div>
									    <ul class="orbit-container">
									      <% @reviews.each do |review| %>
									      <li class="orbit-slide review-content">
									        <figure class="orbit-figure">
									          <p><%= review.content %></p>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i> <%= review.name %></i>
									        </figure>
									      </li>
									      <% end %>
									    
									    </ul>
									  </div>
									  
									</div>
						</div>
					</div>
					<% end %>
				<% end %>

			</div>
		</div>

	</div>
	
	<div class="t2_contact" id="contact">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="cell small-12 medium-6">
					<h2>Contact Us</h2><a class="button expanded large primary" style="<%= @site.color.color_1 %>" href="tel:<%= @site.phone %>"><i class="fa fa-phone"></i> <%= @site.phone %><br></a> <!-- Map -->
					<div class="cell small-12" style="margin-top: 40px;">
						<h4>We service all Sydney locations</h4>
						<div class="map-responsive">
							<iframe allowfullscreen frameborder="0" height="650" src="https://maps.google.com/maps?q=<%= @site.home_town %>=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0" width="1920"></iframe>
						</div>
					</div>
				</div>
				<div class="cell small-12 medium-6">
					<h4>Request a quote</h4>
					<%= render 'messages/form', message: @message, color: @color %>
				</div>
			</div>
		</div>
	</div>
