<%= form_with(model: additional_service, local: true) do |form| %>
  <% if additional_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(additional_service.errors.count, "error") %> prohibited this additional_service from being saved:</h2>

      <ul>
      <% additional_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="" style="margin-top: 20px;">
    <%= form.text_field :title, placeholder: "Add a new service", id: "objective" %>
  </div>


  <div class="grid-x grid-margin-x">
    <div class="cell small-6">    
        <%= form.submit "Add", class: "button success large expanded" %>
    </div>
    <div class="cell small-6 text-right"> 
      <% @mycolor = Color.last %>
      <% if @mycolor.present? %>
       <%= link_to "Continue", edit_color_path(@mycolor), id: "objective_next", class: "button primary large expanded" %>
       <% else %>
       <% @mysite = Site.last %>
       <%= link_to "Continue", site_path(@mysite), id: "objective_next", class: "button primary large expanded" %>
       <% end %>
    </div>
  </div>

  <ul class="menu vertical inner-list">
    <% @my_services.each do |my_service| %>
      <li><i class="fa fa-check"></i> <%= my_service.service.title %></li>
    <% end %>
    <% @my_new_services.each do |new_service| %>
    <li>
      <div class="grid-x">
      <div class="cell shrink">
        <i class="fa fa-check"></i>
      </div>
      <div class="cell auto">
        <%= new_service.title %>
      </div>
      <div class="cell shrink">
        <%= link_to new_service, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert expanded" do %>
        <i class="fa fa-times" style="margin-right: 0; color: #fff; font-size:18px;"></i>
        <% end %>
      </div>
      </div>

       </li>
    <% end %>
  </ul>
<% end %>

