<%= form_for @domain do |form| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="grid-x grid-margin-x" >
    <div class="cell shrink"><h2 style="font-size: 40px; font-weight: 700;">www.</h2></div>
    <div class="cell auto">
      <%= form.text_field :domain_name, placeholder: "Choose a domain" %>
    </div>
    <div class="cell shrink">
      <%= form.submit "SEARCH", class: "button primary large" %>
    </div>
  </div>

<% end %>
