<h1>You can purchase <%=  @domain_last.domain_name %> now for just $29 per year</h1>
<%= link_to "YES BUY THIS", create_dnssimple_contact_path, class: "button primary" %>

<%= form_for @domain do |form| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :domain_name %>
    <%= form.text_field :domain_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :address_1 %>
    <%= form.text_field :address_1 %>
  </div>
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="field">
    <%= form.label :state_province %>
    <%= form.text_field :state_province %>
  </div>
  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>
  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
