<div class="grid-x">
	<div class="cell small-12 medium-6 medium-offset-3 text-center">

<h1 style="font-size: 20px;">You can purchase <br/>
	<span style="color: #0088f1"><%=  @domain_last.domain_name %>.<%= @domain.tld %></span><br />
	 now for <span style="color: #f20068;">just $29 per year</span></h1>


<p>
<%= @domain.extended_hash_response %>	
</p>

<table class="stack">
	<tr>
		<td><strong>tld_type:</strong></td>
		<td><%= @domain_last.tld_type %></td>
	</tr>
	<tr>
		<td><strong>minimum_registration:</strong></td>
		<td><%= @domain_last.minimum_registration %></td>
	</tr>
	<tr>
		<td><strong>whois_privacy:</strong></td>
		<td><%= @domain_last.whois_privacy %></td>
	</tr>
	<tr>
		<td><strong>auto_renew_only:</strong></td>
		<td><%= @domain_last.auto_renew_only %></td>
	</tr>
	<tr>
		<td><strong>IDN:</strong></td>
		<td><%= @domain_last.idn %></td>
	</tr>
	<tr>
		<td><strong>registration_enabled:</strong></td>
		<td><%= @domain_last.registration_enabled %></td>
	</tr>
	<tr>
		<td><strong>renewal_enabled:</strong></td>
		<td><%= @domain_last.renewal_enabled %></td>
	</tr>
	<tr>
		<td><strong>transfer_enabled:</strong></td>
		<td><%= @domain_last.transfer_enabled %></td>
	</tr>
</table>


<%= form_for @domain do |form| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-6">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="cell small-12 medium-6">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3">
    <%= form.label :registrant_id_type %>
    <%= form.select(:registrant_id_type, [ 'ABN', 'ACN' ], {}, { :class => 'select' }) %>
  </div>
  <div class="cell small-12 medium-9">
    <%= form.label :registrant_id_number %>
    <%= form.text_field :registrant_id_number %>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-8">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>
  <div class="cell small-12 medium-4">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="cell small-12 medium-3">
    <%= form.label :state_province %>
    <%= form.select(:state_province, [ 'ACT', 'QLD', 'NSW', 'NT', 'SA', 'TAS','VIC', 'WA' ], {}, { :class => 'select' }) %>
  </div>
  <div class="cell small-12 medium-3">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>
  <div class="cell small-12 medium-3">
    <%= form.label :country %>
    <%= form.select(:country, [ 'AU' ], {}, { :class => 'select' }) %>
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell small-12">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="cell small-12">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

	</div>
</div>