

<div class="home-corner">
	<div class="home-traingle">
		<div class="triangle-txt">
				&nbsp;tradie<br />edition
		</div>
	</div>
</div>

<div class="home-bg-mobile show-for-small-only">
	<div class="grid-x grid-margin-x home-content text-center">
		<div class="cell medium-12 medium-12 large-offset-1 text-center" style="padding: 20px;">
			<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1536989733/2min_color.png" width="200">
	<h1>build your own<span> tradie website</span> <br />in 2 minutes</h1>
	<h2>It's chimpanze-easy!</h2>
	<h2><%= @host %></h2>

			<% if user_signed_in? %>
				
			<% else %>
				<%= form_tag session_placeholder_path, method: :get do %>
					<div class="grid-x grid-margin-x" style="margin-top: 40px;">
					<div class="cell medium-12 large-7">
						<%= text_field_tag :company_name, nil, placeholder: "What's your business name?" %>
					</div>
					<div class="cell medium-12 large-5">
						<%= submit_tag "Give it a go", class: "button large primary expanded" %>
					</div>
					<div class="cell small-12" style="margin-top: 10px;">
					<%= link_to "ALREADY A MEMBER? SIGN IN", new_user_session_path, style: "color: #F30033; font-weight:bold;" %>
				</div>
					</div>
				<% end %>
			<% end %>
			
		</div>
	</div>
</div>

<div class="home-bg show-for-medium">
	<div class="grid-x home-content">
		<div class="cell medium-12 large-5 large-offset-1">
			<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1536989733/2min_color.png" width="250">
	<h1>build your own<span> tradie website</span> <br />in 2 minutes</h1>
	<h2>It's chimpanze-easy!</h2>
				

				<%= form_tag session_placeholder_path, method: :get do %>
				<div class="grid-x grid-margin-x" style="margin-top: 40px;">
				<div class="cell medium-12 large-7">
					<%= text_field_tag :company_name, nil, placeholder: "What's your business name?" %>
				</div>
				<div class="cell medium-12 large-5">
					<%= submit_tag "Give it a go", class: "button large primary expanded" %>
				</div>
				<div class="cell small-12" style="margin-top: 10px;">
					<%= link_to "ALREADY A MEMBER? SIGN IN", new_user_session_path, style: "color: #F30033; font-weight:bold;" %>
				</div>
				</div>
				<% end %>
			
			
		</div>
	</div>
</div>

<div style="position: absolute; left: -9000px; top:-9000px;">
<embed src="https://res.cloudinary.com/thypowerhouse/video/upload/v1537563362/2minute/audio/1_homepage.mp3"></div>