<%= form_with(model: color, local: true) do |form| %>
  <% if color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @color_exists = Color.last %>
    <% if @color_exists.present? %>
    <%= form.text_field :color_1, class: "color_el", style: "width:100%;" %>
    <% else %>
    <%= form.text_field :color_1, class: "color_el", style: "width:100%;", value: "#bf0707" %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Ok, just a tad bit of writing now", class: "button large primary" %>
  </div>
<% end %>
