<p id="notice"><%= notice %></p>

<p>
  <strong>Color 1:</strong>
  <%= @color.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @color.color_2 %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
