<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accreditation_and_licence.name %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @accreditation_and_licence.reference_number %>
</p>

<%= link_to 'Edit', edit_accreditation_and_licence_path(@accreditation_and_licence) %> |
<%= link_to 'Back', accreditation_and_licences_path %>
