<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>So you're ready to add your logo aye?</h2>      
      <h3>Simply upload your logo in jpeg, png or gif format. Square size and a white backgrund is best but we'll do our best with what you have.</h3>
		<%= form_for @intro do |form| %>
		  <% if @intro.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@intro.errors.count, "error") %> prohibited this intro from being saved:</h2>

		      <ul>
		      <% @intro.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  
		 

		  <div class="field" style="margin-top: 20px; display: none;">
		    <%= form.text_area :content, rows: 8, value: "Welcome to our site, here you can find everything you need about #{session[:company]}. As you scroll down the page you'll see all we have to offer including our contact details, service locations and samples of our work. We are eagerly waiting your call so please, don't hesitate to contact us when you're ready." %>
		  </div>

		  <div class="file-upload-box">
		    Oh, almost forgot. Let's add your logo. If you don't have it I'll just add a placeholder for now.<hr />
		    <%= form.file_field :logo %>
		  </div>

		  <div class="actions float-right">
		    <%= form.submit "Check it out", class: "button large primary" %>
		  </div>
		<% end %>

    </div>
  </div>
</div>
