<div class="grid-container" style="margin-top: 50px;">
  <div class="grid-x">
    <div class="cell small-12 inner-form">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-4 medium-text-left text-center">
          <h1 style="line-height: 30px; font-size: 30px;">Reviews</h1>
                <i class="fa fa-star" style="color: #ffc700"></i>
                <i class="fa fa-star" style="color: #ffc700"></i>
                <i class="fa fa-star" style="color: #ffc700"></i>
                <i class="fa fa-star" style="color: #ffc700"></i>
                <i class="fa fa-star" style="color: #ffc700"></i><br />
        </div>
        <div class="cell auto"></div>
        <div class="cell shrink medium-text-right text-center" style="margin-top: 10px;">
            <% @site = Site.last %>
            <%= link_to "I'm Finished Here", site_path(@site, :edit_mode => "true"), class: "button large primary" %>
          </div>
        <div class="cell shrink medium-text-right text-center" style="margin-top: 10px;">
            <%= link_to 'Add New Review', new_review_path, class: "button large success" %>
        </div>
      </div>
      

      <table class="table stack">
        <thead>
          <tr>
            <th width="50%">Review</th>
            <th width="30%">Name</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
            <tr class="medium-text-left text-center">
              <td><i><%= review.content %></i> </td>
              <td><strong><%= review.name %></strong> </td>
              <td><%= link_to 'Edit', edit_review_path(review), class: "button warning expanded", style: "margin-bottom:0;" %></td>
              <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert expanded", style: "margin-bottom:0;" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


