<!-- If site exists only show edit button else show new form -->
<% if @existing_site.present? %>
<%= link_to "Edit Site", edit_site_path(@existing_site), class: "button large primary" %>
<% else %>
  <%= form_with(model: site, local: true) do |form| %>
    <% if site.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

        <ul>
        <% site.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  
    <div class="file-upload-box" style="display: none;">
      We need a hero image, this can be taken from your phone now or you can upload one. Just click the button to add an image.<hr />
      <%= form.file_field :featured_image %>
    </div>


    <div class="field">
      <%= form.hidden_field :company_name, value: session[:company] %>
    </div>


    <div class="grid-x" style="display: none;">
      <div class="cell small-12"> 
      ABN <i><small>if you have it handy.. you can add it later</small></i>
      <%= form.text_field :abn %>
      </div>
    </div>

    <div class="field">
      Your clients need somewhere to call!
      <%= form.text_field :phone, placeholder: "Mobile Number" %>
    </div>

    <div class="field">
      What city or town do you operate in?
      <%= form.text_field :home_town, placeholder: "Sydney" %>
    </div>



    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>


    <div class="actions float-right">
      <%= form.submit "Let's add some services", class: "button large primary" %>
    </div>
  <% end %>
<% end %>
