<% if user_signed_in? && current_user.id == @site.user_id && @site.activated != true %>
<%= render 'pay_footer' %>
<% end %>

<% if user_signed_in? && current_user.id == @site.user_id %>
	
	<% if @progress_bar != "100%" %>
	<div class="list-panel-open">
	
			<i class="fa fa-close"></i>

	</div>
	<div class="list-panel">
		<h3>What's left?</h3>
		<div class="list-close">
			<i class="fa fa-close"></i>
		</div>
		
		<ul>
			<% if !@intro.logo.attached? %>
			<li><%= link_to "Add your logo", edit_intro_path(@intro) %></li>
			<% end %>
			<% if !@site.featured_image.attached? %>
			<li><%= link_to "Add hero image", edit_site_path(@site) %></li>
			<% end %>
			<% if @profile.bio.blank? %>
			<li><%= link_to "Write your profile", edit_personal_profile_path(@profile) %></li>
			<% end %>
			<% if !@profile.avatar.attached? %>
			<li><%= link_to "Add a selfie", edit_personal_profile_path(@profile) %></li>
			<% end %>
			<% if @portfolios.blank? %>
			<li><%= link_to "Add portfolio", new_portfolio_path %></li>
			<% end %>
			<% if @reviews.blank? %>
			<li><%= link_to "Add reviews", new_review_path %></li>
			<% end %>
			<% if @accreditations.blank? %>
			<li><%= link_to "Accreditations & licences", new_accreditation_and_licence_path %></li>
			<% end %>
			<% if @site.abn.blank? %>
			<li><%= link_to "Add your ABN", edit_site_path(@site) %></li>
			<% end %>
		</ul>
	</div>
	<% end %>


	
	
	<div class="grid-container" style="background-color: #1f2c3d; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; color: #fff; padding: 15px 10px 0 10px;">
		<div class="grid-x grid-margin-x">
			

			

			
			<% if @progress_bar != "100%"  %>
			<div class="cell auto show-for-medium">
				<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100" style="border-radius: 5px; height: 35px;">
				  <div class="progress-meter" style="width: <%= @progress_bar %>; border-radius: 5px;">
				  	<p class="progress-meter-text">Welcome add some final touches: <%= @progress_bar %> FINSIHED</p>
				  </div>

				</div>
			</div>
			<% else %>
			<% if @site.activated != true %>
			<div class="cell auto preview-buttons"></div>
			<div class="cell auto preview-buttons">
				<%= link_to "LAUNCH NOW 50% OFF!", charge_payment_page_path, class: "button primary expanded"%>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
<% end %>



<%= @site.template.body_with_data.html_safe %>



<script>

$(function() {

$('.list-close').click(function () {
    $(".list-panel").animate({"left" : "-=300px"}, "fast");
    $(".list-panel-open").animate({"left" : "300px"}, "slow");
    
});

$('.list-panel-open').click(function () {
    $(".list-panel-open").animate({"left" : "-300px"}, "fast");
    $(".list-panel").animate({"left" : "0"}, "slow");
    
});

});



</script>