<!DOCTYPE html>
<html>
  <head>
    <title>Tradie websites in under 2 minutes - Get 50% OFF Today Only!</title>

    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

  </head>

  <body>
   <div class="top-menu-bar">
    <div class="grid-x">
      <div class="cell small-12 text-right">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'button primary') %>   
        <% else %>
          <%= link_to('Sign In', new_user_session_path, class: 'button primary')  %>     
        <% end %>
      </div>
    </div>
   </div>
    <%= yield %>
  </body>
</html>
